/*Cabeçalho*/

header {
    background-color: var(--cor3);
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.navbar-menu a img {
    width: max(150px, 14vw);
    padding-left: 1rem;
}

.nav-list {
    display: flex;
    gap: 2rem;
    margin-right: 3rem;
}

.mobile-menu-icon {
    padding-right: 1rem;
}

.mobile-menu-icon div {
    width: 32px;
    height: 2px;
    background-color: var(--cor4);
    margin: 8px;
    transition: .4s;
}

.mobile-menu-icon.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu-icon.active .line2 {
    opacity: 0;
  }
  .mobile-menu-icon.active .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }

.nav-item a {
    padding: .9rem;
    color: var(--cor4);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}

.nav-item a:hover {
    color: var(--cor1);
    background-color: var(--cor4);
    transition-duration: .3s;
}

.nav-item ul {
    background-color: var(--cor4);
    display: none;
    position: absolute;
    z-index: 1;
}

.nav-item:hover ul {
    display: block;
}

.nav-item-sub a {
    display: block;
    color: var(--cor1);
    background-color: var(--cor4);
    border-radius: 0;
    text-transform: capitalize;
}

.nav-item-sub:hover a {
    background-color: var(--cor1);
    color: var(--cor4);
}

/*icone*/
.mobile-menu-icon {
    display: none;
}

/*menu mobile*/

.mobile-nav {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--cor4);
    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
}
  
.mobile-nav.open {
    transform: translateX(0%);
}
  

.mobile-nav-lista {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-sub-item {
    display: block;
    text-align: center;
}

.cursos span {
    display: flex;
    justify-content: center;
}

.nav-sub-item, .cursos span {
    padding: 1rem 0;
    font-size: max(1.5rem, 2.5vw);
    color: var(--cor1);
    font-weight: 400;
    cursor: pointer;
}

.nav-sub-item:hover, .cursos span:hover {
    background-color: var(--cor5);
}

.cursos img {
    filter: invert(100%);
}

/*submenu*/

.sub-menu {
    display: none;
}

@media screen and (max-width: 900px) {

    header {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .nav-bar {
        justify-content: space-between;
        align-items: flex-start;
    }

    .nav-list {
        display: none;
        gap: 0;
        border-radius: 10px;
    }

    .mobile-menu-icon {
        display: block;
    }

    .open {
        display: block;
    }
}