@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Sans-serif;
}

body {
    min-width: 350px;
}

/*Cabeçalho*/

header {
    background-color: #F5F7FA;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.nav-bar a img {
    width: max(150px, 12vw);
    padding-left: 1rem;
}

.nav-list {
    display: flex;
}

.nav-list ul {
display: flex;
gap: 2rem;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

.icon {
    filter: invert(100%);
}

.nav-list li {
    list-style: none;
}

.nav-list ul a {
    text-decoration: none;
    color: #16509F;
    font-weight: bold;
}

.nav-list ul a:hover {
    color: black;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    width: 146px;
}

@media screen and (max-width: 1027px) {

    .nav-bar {
        justify-content: space-between;
        align-items: flex-start;
    }

    .nav-list ul {
        gap: 0.5rem;
    }

    .nav-item {
        display: none;
        padding-top: 1rem;
    }

    .mobile-menu-icon {
        display: block;
        padding-top: 1rem;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .mobile-menu .nav-item {
        display: block;
        
    }

    .open {
        display: block;
    }
}

/* Meio */

.contanier-01 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    background-color: #16509F;
    padding: 1em 0;
}


.div-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

#graduation {
    font-size: 70px;
    color: white;
}

#edit-square {
    font-size: 60px;
    color: white;
}

.div-01 a {
    text-decoration: none;
}

.div-01 p {
    color: white;
}

.div-01 p strong {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.main-h1 {
    color: #0976b7;
    font-size: max(32px, 2.5vw);
    text-align: center;
    margin: 40px 7px;
}

@media screen and (max-width: 495px) {
    .contanier-01 {
        flex-direction: column;
        align-items: center;
        padding-top: 3px;
        padding-bottom: 10px;
    }

    #link {
        margin-bottom: 20px;
    }
}

.main-contanier {
    display: flex;
    justify-content: space-around;
}

.main-escola {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.material-symbols-sharp {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

#location {
    font-size: 70px;
    color: #0976b7;
}

#main-graduation {
    font-size: 70px;
    color: #0976b7;
}

#groups {
    font-size: 70px;
    color: #0976b7;
}

.main-escola p {
    font-weight: bold;
    font-size: max(18px, 1.5vw);
    color: #0976b7;
    text-align: center;
    margin: 0 15px;
}

@media screen and (max-width: 750px) {
    .main-contanier {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 495px) {

    #quebra-linha {
        display: none;
    }
}

.localizacao {
    display: flex;
    justify-content: center;
}

.mapBox {
    position: relative;
    width: 71vw;
    height: 40vh;
    background-color: black;
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}

/*radapé*/

footer {
    margin: 0 30px;
}

.section-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 40px;
}

.div-footer h2 {
    color: #0976b7;
    margin-bottom: 15px;
}

.div-footer2 {
    margin-bottom: 10px;
}

.div-footer a {
    color: #0976b7;
    font-weight: bold;
    text-decoration: none;
}

.div-footer a:hover {
    text-decoration: underline;
}

.rede-sociais {
    display: flex;
    justify-content: space-around;
}

.rede-sociais img {
    width: 40px;
}

.direitos-autorais {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.direitos-autorais p {
    margin-bottom: 10px;
    margin-right: 17px;
}

.direitos-autorais a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 618px) {
    .section-footer {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .div-footer {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
}