@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor1: #ffffff;
    --cor2: #000000;
    --cor3: #F5F7FA;
    --cor4: #16509F;
    --cor5: #0976b7;
    --cor7: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* Main */

.main-section {
    margin-bottom: 1px;
}

.main-section img {
    width: 100%;
}

.contanier-01 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    background-color: var(--cor4);
    padding: 1em 0;
}

@media screen and (max-width: 900px) {
    .main-section {
        padding-top: 79px;
    }
}

.div-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

#graduation {
    font-size: 70px;
    color: var(--cor1);
}

#edit-square {
    font-size: 60px;
    color: var(--cor1);
}

.div-01 p {
    color: var(--cor1);
}

.div-01 p strong {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.main-h1 {
    color: var(--cor5);
    font-size: max(32px, 2.5vw);
    text-align: center;
    margin: 40px 7px;
}

@media screen and (max-width: 495px) {
    .contanier-01 {
        flex-direction: column;
        align-items: center;
    }

    #link {
        margin-bottom: 20px;
    }
}

.main-contanier {
    display: flex;
    justify-content: space-around;
}

.main-escola {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.material-symbols-sharp {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

#location {
    font-size: 70px;
    color: var(--cor5);
}

#main-graduation {
    font-size: 70px;
    color: var(--cor5);
}

#groups {
    font-size: 70px;
    color: var(--cor5);
}

.main-escola p {
    font-weight: bold;
    font-size: max(18px, 1.5vw);
    color: var(--cor5);
    text-align: center;
    margin: 0 15px;
}

@media screen and (max-width: 750px) {
    .main-contanier {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 495px) {

    #quebra-linha {
        display: none;
    }
}

.localizacao {
    display: flex;
    justify-content: center;
}

.mapBox {
    position: relative;
    width: 71vw;
    height: 40vh;
    background-color: var(--cor2);
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}