/* main */

.h1 {
    color: var(--cor4);
    margin: 2% 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacao {
    display: flex;
}

.grade li {
    background-color: var(--cor7);
    margin: 0 4% 4% 4%;
    padding: 3%;
}

.grade li a {
    color: var(--cor2);
}

/*responsivo*/

@media screen and (max-width: 900px) {
    main {
        padding-top: 80px;
    }
}

@media screen and (max-width: 800px) {
    .navegacao {
        flex-direction: column;
    }
}