.contanier {
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    max-width: 700px;
    padding: 2rem 1rem;
    border: 1px solid var(--cor4);
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.formulario input {
    line-height: 2rem;
    padding-left: .2rem;
    width: 100%;
    border: 1px solid var(--cor4);
    border-radius: 5px;
}

.formulario button {
    background-color: var(--cor5);
    color: var(--cor1);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    padding: .7rem 0;
    cursor: pointer;
}

.formulario select {
    height: 2rem;
    border: 1px solid var(--cor4);
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    main {
        padding-top: 5rem;
    }
}