/*main*/

main {
    padding-top: 20px;
}

main section {
    width: max(360px, 75%);
    margin: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #00000059;
}

main section article h1 {
    text-align: center;
    padding: 20px;
    font-size: max(2rem, 3vw);
    color: var(--cor4);
}

main section article h2 {
    text-align: center;
    font-size: max(1.5rem, 2.5vw);
    margin: 10px 5px;
    color: var(--cor5);
}

main section p {
    margin: 0 30px;
    font-size: max(1rem, 1.6vw);
    text-align: justify;
    text-indent: 30px;
    line-height: max(2rem, 3vw);
}

main section blockquote {
    margin: 30px;
}

main section blockquote p {
    margin: 0;
    padding-bottom: 5px;
    font-size: max(1rem, 1.6vw);
    line-height: 1.5rem;
    text-indent: 0;
    text-align: start;

}

main section blockquote cite {
    font-size: max(.7rem, 1.1vw);
    line-height: 1rem;
}

.main-social h2 {
    font-size: max(1.4rem, 2.5vw);
    text-align: center;
    margin-bottom: 20px;
}

/*rede sociais*/

.main-rede-social {
    display: flex;
    justify-content: space-around;
}

.main-redes-sociais  {
    padding: 10px 30px;
    background-color:  #3b5998;
    border-radius: 10px;
}

.main-redes-sociais a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-redes-sociais img {
    width: max(20px, 1.8vw);
    filter: invert(100%);
}

.main-rede-social div a {
    color: var(--cor1);
    font-weight: 600;
}

.main-rede-social-mobile {
    display: none;
    justify-content: space-around;
}

/*responsivo main*/
@media screen and (max-width: 1200px) {
    .main-rede-social {
        display: none;
    }

    .main-rede-social-mobile {
        display: flex;
    }
}

@media screen and (max-width: 900px) {
    main {
        padding-top: 100px;
    }
}